<!DOCTYPE html>

<html lang="fr">

<head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <img src="{% static 'img/Logo_SM_800px.png' %}" alt="SM logo" ></code>
    <title>{% block title %}Koi Ou Kan aka KoK - an inventory application{% endblock %}</title>

</head>

<body>

<header>KoK inventory application</header>

    <nav>

       {% block nav %}

       <ul>
            <li><a href="/kok">Home</a></li>
            <li><a href="/kok/clear">Delete all Items</a></li>
            <li><a href="/kok/items/">Items List</a></li>
            <li><a href="/kok/new-item/">New Item</a></li>
            <li><a href="/kok/locations/">Locations List</a></li>
            <li><a href="/kok/new-location/">New Location</a></li>
            <li><a href="/kok/persons/">Persons List</a></li>
            <li><a href="/kok/new-person/">New Person</a></li>

       </ul>

       {% endblock %}

   </nav>

   <section id="content">

       {% block content %}

       {% endblock %}

   </section>

  <footer class="blog-footer" id="non-printable">
    <p>
      Copyright &#169; 2016-{% now "Y" %}, <a href="{% url 'home' %}">Pixel Stereo</a> -
      Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> -
      Created by <a href="https://github.com/reno-/" target="_blank">reno-</a></p>
  </footer>

</body>

</html>